/* Spinner container */
.spinner {
    display: grid;
    place-items: center; /* Centers the spinner in both axes */
    min-height: 80vh; /* Ensures the spinner takes up most of the viewport height */
}

/* Spinner element */
.spin {
    width: 65px;
    height: 65px; /* Adjusted to be a perfect circle */
    border: 5px solid #bdbdbd;
    border-top-color: #4500c6; /* The color for the rotating part */
    border-radius: 50%;
    animation: rotate 1s linear infinite; /* Smooth, continuous rotation */
}

/* Animation */
@keyframes rotate {
    100% {
        transform: rotate(360deg); /* Removes extra space around rotate */
    }
}
.coin{
    padding:10px
}
.coin-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px auto;
    margin-bottom: 40px;
}

.coin-name img{
 max-width:150px
}
.coin-details{
    text-align: center;
    margin: 10px;
    text-decoration-color: aliceblue;
}
.coin-chart{
    max-width: 1000px;
    height: 250px auto;
    margin: auto;
    flex-direction: column;
}
